<h1 class="landing-title">Flo's Favorite Fighters list</h1>

<div class="container containermargintop ">
  <div class="row">
    <div class="col-sm">
      <h2 class="text-center marginbottom">The Reasoning Behind This Application (Demo)</h2>

        <p class="lineheight">As a one of my first Ruby on Rails applications, I wanted to create something that was tied to one of my passions. My main priority in creating this site was to build and showcase my skill as a backend developer by displaying a list of mixed martial artists that I look up to. </p>

        <p class="lineheight">Overall this project was very simple but the basics were great to practice. I started with the creating the home views and then from there created the database to hold and display my favorite MMA athletes. My intitial goal was to use the Devise Gem to handle the user management portion of this project but after runnning into some issues, I went with the route of creating it from scratch. Having to create it the "long" way was a great basic insight on how to create users and sessions.</p>

        <p class="lineheight">If I were to continue building out this application I would focus more on authorization and authentication of each user. For example profile editing, email confirmation, password reset, error alerts, and etc. I would also create an option for each user to be able to create a list of their own favorite athletes list and still have the option of seeing my list with no option of editing it. As of right now, the only wall for authorization is forcing website vistors to sign in to view and edit the single list available </p>

        <p class="lineheight">This was mainly a warmup to the next project that I plan on creating which will be more polished inluding all those things that I mentioned above. The user management portion was absolutley the hardest part that took me the longest to figure out. I hope to have figured out the reasoning for why I was having trouble implenting the Devise Gem to not have to recreate the wheel.</p>
    </div>



    <div class="col-sm">
      <h2 class="text-center marginbottom">How I Relate Martial Arts to Programming</h2>

        <p class="lineheight">From the outside looking in I can see how most people can find the sport extremely violent filled with low IQ meatheads that are doing nothing but causing each other brain damage for pennies. While there might be a sliver of truth to that sentiment there is in fact way more to it. In my eyes it is chess of the body and mind and may the best artist/programmer win.</p>

        <p class="lineheight ">Like coding, mixed martial arts has many languages athletes can use to achieve their goal of getting their hand raised by the ref. Boxing, Muay Thai, judo, wrestling, karate, brazilian jiu jitsu, capoeira, and so many others from all over the world including subgenres within each of them. Spending time in the gym is the same as writing and testing your code and fight night is where you actually get to publish your code and see how well it worked. If the outcome doesn't go your way, you know their are bugs to fix and time in the gym training is where that happens</p>

        <p class="lineheight">The most challenging part about martial arts is that there is someone across from you who is actively fighting against your code. Sometimes when I'm creating a project I feel like the my computer and technology is actively fighting against me as well.😂 Each of you are reading each others movments, reading each others codes looking for openings, bugs and using our skills to exploit them. Almost like a hacker! Live problem solving on the spot.</p>

        <p class="lineheight">Seeing all these variable, seeing how much it challenged my mind and body has made me a fan for life and I hope to be able to as much as I can within the sport. Realizing all the nuances in Martial arts has infatuated me for the last 10 years and that's why I found it necessary to tie it in with my first solo Ruby on Rails project</p>
    </div>
  </div>
</div>
